block signingUp 
	h2#signingUp Signing Up
	p Our philosophy is to make things as simple as possible, and signing up is no different. RoleSense uses Microsoft Authentication to ensure that you can login with your existing work accounts quickly without any fuss. This also enables your IT teams to choose how they control access to the RoleSense application.
	p If you would like to start using RoleSense, follow the instructions below -
	ol 
		li Select the 
			span.fw-bolder Login 
			| or 
			span.fw-bolder Register Today 
			| buttons found on the website.
		li A Microsoft login prompt will appear, 
			span.fw-bolder sign in 
			| with your normal work account.
		li 
			span.fw-bolder Approve the requested permissions
			| , which are required to allow RoleSense to view basic information about your users and your Azure tenant.
		li Upon successfull signin, you will be taken to the 
			span.fw-bolder Getting Started 
			| page which walks you through any additional required setup, including granting RoleSense read-only access to the Subscriptions you plan to review.
		li By default, you are assigned a 
			span.fw-bolder Free licence 
			| which allows you to generate limited reports for your Azure environment to see how RoleSense works.
