block footer 
	//- Footer
	footer.py-5.bg-dark
		.container.px-5.text-center.text-white
			p.m-0.text-center Copyright &copy; RoleSense 2024
			a(href="/privacyPolicy").td-none.link-light Privacy Policy
			|  | 
			a(href="/termsOfUse").td-none.link-light Terms of Use